th {
    font-weight: 400;
}
@media (max-width: 48em) {
    table .btn, h1, h2, h3, h4, h5, tr {
        font-size: 0.75rem; /*FireFox и др.*/
        font-size: 3.5vw; /*Chrome, Safari*/
    }
}
@media (width > 500px) and (width < 1000px) {
    .xs {
        color: red
    }
}

@media (width > 1000px) and (width < 1200px) {
    .sm {
        color: red
    }
}

@media (width > 1200px) and (width < 1500px) {
    .md {
        color: red
    }
}

@media (width > 1500px) {
    .ld {
        color: red
    }
}