<p><!-- Пустая строка --></p>
<p class="text-success">
    Пример №1. Адаптивная таблица в Bootstrap
</p>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="table-success text-center">
                <h4>Тариф "Бесплатно"</h4>
            </th>
            <th class="table-info text-center">
                <h4>Тариф "Стандарт"</h4>
            </th>
            <th class="table-danger text-center">
                <h4>Тариф "Премиум"</h4>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-center">
                &#8381; 0
            </th>
            <th class="text-center">
                &#8381; 50
            </th>
            <th class="text-center">
                &#8381; 100
            </th>
        </tr>
        
        <tr>
            <th>
                PHP 8.0
            </th>
            <th>
                PHP 8.0
            </th>
            <th>
                PHP 8.0
            </th>
        </tr>
        
        <tr>
            <th>
                MySQL 8.0
            </th>
            <th>
                MySQL 8.0
            </th>
            <th>
                MySQL 8.0
            </th>
        </tr>
        
        <tr>
            <th>
                phpMyAdmin 5.0
            </th>
            <th>
                phpMyAdmin 5.0
            </th>
            <th>
                phpMyAdmin 5.0
            </th>
        </tr>
        
        <tr>
            <th>
                -
            </th>
            <th>
                Домен в подарок *.ru
            </th>
            <th>
                Домен в подарок *.ru                
            </th>
        </tr>
        
        <tr>
            <th>
                -
            </th>
            <th>
                -
            </th>
            <th>
                Почтовый сервер SMTP                
            </th>
        </tr>
        
        <tr>
            <th>
                <a class="btn btn-success col-12" href="#">Купить Free</a>
            </th>
            <th>
                <a class="btn btn-info col-12" href="#">Купить Standart</a>
            </th>
            <th>
                <a class="btn btn-danger col-12" href="#">Купить Premium</a>
            </th>
        </tr>
    </tbody>
</table>