<style>
    [class*="col-"] { /*Шаблон класса*/
        background-color: #eee; /*светло-серый*/
        text-align: center;
        padding: 10px; /*отступ со всех сторон*/
        margin-bottom: 10px; /*отступ снизу от соседа*/
        border: 2px solid grey; /*рамка*/
        font-size: 32px; /*размер текста от родителя*/
    }
</style>
<div class="container">
    <p class="text-success">
        Сеточная система Bootstrap
    </p>
    <!-- Строка 1: Заголовок -->
    <div class="row">
        <div class="col-xs-12">
            <h1>пример ис</h1>
            <h2>подзаголовок для поддержки</h2>
            <a class="btn btn-primary btn-lg" href="#" role="button">ref</a>
        </div>
    </div>
    <!-- Строка 2: 3 равные столбца -->
    <div class="row">
        <div class="col-md-4">
            <h3>
                primary-text
                <small>
                    secondary-text
                </small>
            </h3>
        </div>
        <div class="col-md-4">
            <h3>Favourite</h3>
            <small>
                <kbd>ctrl</kbd> + <kbd>d</kbd>
            </small>
        </div>
        <div class="col-md-4">1/3</div>
    </div>
    <!-- Строка 3: 2 столбца: слева 1/3 и справа 2/3 -->
    <div class="row">
        <div class="col-md-4">
            <pre>
&lt;p&gt;Код HTML5&lt;/p&gt;
&lt;p&gt;Примеры&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;bootstrap!&lt;/p&gt;
            </pre>
        </div>
        <div class="col-md-8">2/3</div>
    </div>
    <div class="row">
        <div class="col-md-3">1/4</div>
        <div class="col-md-6">1/2</div>
        <div class="col-md-3">1/4</div>
    </div>
    <div class="row">
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
    </div>
    <div class="row">
        <div class="col-md-6">1/2</div>
        <div class="col-md-6">1/2</div>
    </div>
    <div class="row">
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
        <div class="col-md-3">1/4</div>
    </div>
    <div class="row">
        <div class="col-md-2">1/6</div>
        <div class="col-md-7">7/12</div>
        <div class="col-md-3">1/4</div>
    </div>

</div> <!-- end .container