<h1>Добро пожаловать на сайт компании Алтай-Тур.</h1>
<div class="slides">
    <img src="img/main-1.jpg" class="index-img" id="block" Title="Сплав по реке Катунь">
    <img src="img/main-2.jpg" class="index-img" Title="Телецкое озеро">
    <img src="img/main-3.jpg" class="index-img" Title="Прогулки на катере">
    <br>
    <div class="btn">
        <button id="btnLeft">&#11013;</button>
        <!-- пробел между кнопками -->
        &ensp;
        <button id="btnRight">&#10145;</button>
    </div>
    <br>
</div>